
{% extends 'base.html' %}
{%load static %}

{%block content%}
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">About</h2>
                
                    <div class="align-left">
                        <h3 class="text-white mb-4">PROFESSIONAL</h3>

                        <p class="text-white-50" "align-left">
                        <br>
                        <h6 class="text-white mb-1">2nd Lieutenant Officer, Technical Support Office, Royal Canadian Air Force (RCAF)
                        May 2019 – Current, Winnipeg, MB</h6><br>                       
                        <ul class="text-white-50" span="align-left">
                            <li>Validated simulation scenarios to meet the requirements of the RCAF Air Combat System Officer training program. </li>
                            <li>Performed manual testing of the flight simulator to evaluate functionality of <br>new scenarios. </li>
                            <li>Maintained flight simulator. Updated training scenarios using C++. Kept record of simulations and routinely categorized and archived data. </li>
                            <li> Worked closely with the Senior Analyst to resolve bugs and ensure that scenarios are kept up to date.</li>
                            <li>Determined airworthiness of training simulations. Identified problems and proposed solutions. </li>
                            <li>Maintained database of all military squadron IT assets. </li>
                            <li>Ensured users have proper Administrator rights to access confidential squadron folders. </li>
                            <li> Coordinated with multiple departments, and department heads to obtain necessary operational security clearances.</li>
                            <li> Provisioned infrastructure; deployed software as necessary</li>
                        </ul>


                   
                    
                    <h6 class="text-white mb-1">Graduate Student Assistant, University of Calgary
                    <br>Sept 2016 – Sept 2018, Calgary, AB</h6><br>
                    
                        <ul class="text-white-50" span="align-left">
                            <li> Guided student thesis submission in accordance with University guidelines and templates. </li>
                            <li>Advised students regarding University policies and aided graduate students with funding applications. </li>
                            <li>Created statistical models and projections in Excel that illustrated trends with regard to graduate student completion rate, amount of potential graduates’ forthcoming, and budget shortfalls and surpluses. </li>
                            <li>Acted as first point of contact for student inquiries. Trained new and existing student staff members on software.</li>
                            <li>Modified student system profiles to reflect appropriate standing and funding  </li>
                        </ul>
                    

                    <h6 class="text-white mb-1">Records Analyst, McMillan LLP
                    <br>Jan 2014 – Sept 2016, Calgary, AB</h6><br>
                        <ul class="text-white-50">
                            <li> Worked with IT to improve records management software, so that lawyers, legal assistances, and paralegals could access records with greater ease and proficiency.</li>
                            <li> Ensured that records were up to date, accurate, and delivered in a timely manner.</li>
                            <li> Researched record retention for all areas of legal practice and reporting findings to ensure a proper retention schedule. </li>
                        </ul>

                    <h6 class="text-white mb-1">Track Manager and Head Coach, Calgary Bicycle Track League
                    <br>Apr 2010 – Oct 2013, Calgary, AB</h6><br>
                        <ul class="text-white-50">
                            <li> Developed cycling programs. Coached diverse levels of athletes. Involved in fundraising and recruiting.</li>
                            
                        </ul>
                    
                        
                    <h3 class="text-white mb-4">Education</h3>
                        <ul class="text-white-50">
                            <li>Certificate in Computing and Information Systems 
                                University of Athabasca – Ongoing </li>
                            <li> Bachelor of Arts, Philosophy 
                                University of Calgary – 2013</li>
                        </ul>
                                
                    <h3 class="text-white mb-4">Provessional Development</h3>
                    <ul class="text-white-50">
                        <li>Information and Cyber Security, April 2021 </li>
                        <li>Basic Space Operations, Jan 2020 </li>
                        <li>Electronic Warfare, Nov 2019 </li>
                        <li>Basic Military Officer Qualification, May 2019  </li>
                    </ul>

                    <h3 class="text-white mb-4">Skills and Development</h3>
                        <ul class="text-white-50">
                            <li>Computer: Python, Selenium, Gherkin, Django, HTML, CSS.</li>
                            <li>Hobbies: Cycling, Climbing, Fishing, Chess, and Over-landing.</li>
                            
                        </ul>

            
            </div>
        </div>
        <img class="img-fluid" src="assets/img/ipad.png" alt="..." />
    </div>
    
</section>


{%endblock%}