{% extends 'base.html' %}
{%load static %}
{% block content %}
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    </head>
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <div class="project-text w-100 my-auto text-center text-lg-left">
                <h1 class="text-black">Cole is igniting the Coals. Stay tuned!</h1>
                <i class="material-icons" style="color:red">local_fire_department</i>
                <i class="material-icons" style="font-size:48px;color:red;">local_fire_department</i>
                <i class="material-icons" style="font-size:60px;color:red;">local_fire_department</i>
    </section>

{% endblock %}